langchain>=0.2.0
langchain-openai
langchain-community
langchain-huggingface
faiss-cpu
unstructured
tiktoken
pytest
mypy
black
ruff
python-dotenv
typer
python-docx
pgsql
pydantic
streamlit>=1.25
requests
